doctype html
html(ng-app='gemStore')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(type='text/javascript', src='/javascripts/angular.min.js')
    script(type='text/javascript', src='/javascripts/app.js')
  body
    block content
